In [1]:
import pandas as pd

In [2]:
dictionary = {'Color':['red','blue','green','green','blue','red','blue','green','blue','red']}

In [3]:
data_frame=pd.DataFrame(dictionary)

In [4]:
unique_values=data_frame['Color'].unique()

In [5]:
for value in unique_values:
    data_frame[value]=[1 if i==value else 0 for i in data_frame['Color']]

In [6]:
data_frame

   Color  red  blue  green
0    red    1     0      0
1   blue    0     1      0
2  green    0     0      1
3  green    0     0      1
4   blue    0     1      0
5    red    1     0      0
6   blue    0     1      0
7  green    0     0      1
8   blue    0     1      0
9    red    1     0      0