In [1]:
import pandas as pd

In [2]:
dict1 = {
    "activities":['act1','act2','act3','act4','act5','act6','act7','act8','act9','act10'],
    "how often":['everyday','rarely','everyday','most days','never','most days','rarely','never','everyday','everyday']}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

  activities  how often
0       act1   everyday
1       act2     rarely
2       act3   everyday
3       act4  most days
4       act5      never
5       act6  most days
6       act7     rarely
7       act8      never
8       act9   everyday
9      act10   everyday

In [5]:
df.to_csv('Data.csv',index=False)

In [6]:
dict2={'never':0,'rarely':1,'most days':2,'everyday':3}

In [7]:
df['how often']=[dict2[value] for value in df['how often']]

In [8]:
df['activities']=[i for i in range(1,11)]

In [9]:
df

   activities  how often
0           1          3
1           2          1
2           3          3
3           4          2
4           5          0
5           6          2
6           7          1
7           8          0
8           9          3
9          10          3